# Контакты для сборки (скопируйте в .env)
VITE_PHONE=+74842559572
VITE_PHONE_DISPLAY=+7 (4842) 55-95-72
VITE_VK=https://vk.com/salon_lt
VITE_VK_MESSAGES=https://vk.com/im/convo/-126807901?entrypoint=community_page&tab=all
VITE_ADDRESS=г. Калуга, ул. Глаголева, д. 9
VITE_YANDEX_MAPS=https://yandex.ru/maps/org/masterskaya_krasoty_lt/1246399476/

# Добавить позже:
# VITE_EMAIL=
# VITE_INSTAGRAM=
