# Контакты для сборки (скопируйте в .env)
VITE_PHONE=+74842559572
VITE_PHONE_DISPLAY=+7 (4842) 55-95-72
VITE_EMAIL=info@yourmaster.ru
VITE_WHATSAPP=784842559572
VITE_INSTAGRAM=https://instagram.com/yourmaster
VITE_VK=https://vk.com/yourmaster
VITE_ADDRESS=г. Калуга, ул. Глаголева, д. 9
